nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials img {
  width: 32px;
}


body {
    vertical-align: top;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f2f5;
}

h1 {
    color: #333;
    margin-top: 0;
}

h2 {
    color: #111;
    text-align: left;
}

h3 {
    color:#111;
    text-align: left;
}

.snap-left {
  float: left;
  width: 45%;
  padding: 10px;
  margin: 5px;
}

.snap-right {
  float: right;
  width: 45%;
  padding: 10px;
  margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}